<div id="box">

    <header>
        <div class="title">
            <div class="richScan">
                <input type="image" src="img/richScan.png">
                <span>扫一扫</span>
            </div>
            <div class="location">
                <span>济远路附近</span>
            </div>
            <div class="search">
                <input type="image" src="img/search.png">
                <span>搜 索</span>
            </div>
        </div>
    </header>

    <div class="swiper-container slider">
        <div class="swiper-wrapper">

        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="menu">
        <ul>

        </ul>
    </div>

    <div class="headline">
        <div class="activity_title"></div>
        <div class="activity_intro">
            <span>防霾</span>
            3M防霾口罩22.8元/3只 1小时闪送
        </div>
    </div>

    <ul class="recommend_goods">
        <li class="recommend_goods1"></li>
        <li class="recommend_goods2"></li>
        <li class="recommend_goods3"></li>
    </ul>

    <ul class="hot_goods">
        <li class="hot_goods1"></li>
        <li class="hot_goods2"></li>
        <li class="hot_goods3"></li>
        <li class="hot_goods4"></li>
    </ul>

    <div class="freshFruit">
        <p class="freshFruit_title">
            <span></span>
            <span class="freshFruit_name">优选水果</span>
            <span class="freshFruit_more">
                    更多
                </span>
        </p>
        <div class="freshFruit_banner"></div>
        <div class="freshFruit_goods">
            <div class="goodsItem1 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem2 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem3 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
        </div>
    </div>

    <div class="freshFruit">
        <p class="freshFruit_title">
            <span></span>
            <span class="freshFruit_name">优选水果</span>
            <span class="freshFruit_more">
                    更多
                </span>
        </p>
        <div class="freshFruit_banner"></div>
        <div class="freshFruit_goods">
            <div class="goodsItem1 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem2 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem3 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
        </div>
    </div>

    <div class="freshFruit">
        <p class="freshFruit_title">
            <span></span>
            <span class="freshFruit_name">优选水果</span>
            <span class="freshFruit_more">
                    更多
                </span>
        </p>
        <div class="freshFruit_banner"></div>
        <div class="freshFruit_goods">
            <div class="goodsItem1 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem2 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
            <div class="goodsItem3 goods">
                <a href=""></a>
                <p class="goods_name">蜂觅·15度蜜梨</p>
                <p class="goods_tag">
                    <span class="choiceness">精选</span>
                    <span class="giveFree">买一赠一</span>
                </p>
                <p class="goods_dosage">400-500g/盒</p>
                <p class="goods_price">
                    <span class="goods_price_now">¥14.6</span>
                    <span class="goods_price_old">¥16</span>
                </p>
                <div class="addGoods"></div>
            </div>
        </div>
    </div>

    <div class="hot_sell">
        <fieldset class="hot_sell_title">
            <legend class="title_name" >鲜蜂热卖</legend>
        </fieldset>
        <ul class="hot_sell_goods">

        </ul>
        <p class="show_all_goods">
            <a href="">
                点击查看全部商品>
            </a>
        </p>
    </div>

</div>