<div class="mine">
    <header>
        <div class="personInfo">
            <img src="img/userInfo_icon.png" alt="" class="head_icon"/>
            <p class="user_account">17310599386</p>

            <img src="img/userInfo_right_icon.png" alt="" class="right"/>



            <p class="identify"><span>注册会员</span></p>
        </div>
        <div class="collection">
            <div class="conductCollection">
                <img src="img/userInfo_conductCollect.png" class="icon" alt=""/>
                商品收藏
            </div>
            <span class="split"></span>
            <div class="shopCollection">
                <img src="img/userInfo_shopCollect.png" class="icon" alt=""/>
                店铺收藏
            </div>
        </div>
    </header>
    <div class="div allOrder">
        <p>我的订单 <a href="##">查看全部订单</a></p>
    </div>
    <div class="waitingStatus">
        <div class="waitingPay">
            <img src="img/userInfo_waitingPay.png" alt="" class="icon"/>
            <span>待付款</span>
        </div>
        <div class="waitingReceive">
            <img src="img/userInfo_waitingReceive.png" alt="" class="icon"/>
            <span>待收货</span>
        </div>
        <div class="waitingEvaluate">
            <img src="img/userInfo_waitingEvaluate.png" alt="" class="icon"/>
            <span>待评价</span>
        </div>
        <div class="service">
            <img src="img/userInfo_Refund.png" alt="" class="icon"/>
            <span>退款/售后</span>
        </div>
    </div>
    <div class="content">
        <div class="waitingPay">
            <img src="img/userInfo_shopCity.gif" alt="" class="icon"/>
            <span>积分商城</span>
        </div>
        <div class="waitingReceive">
            <img src="img/userInfo_discount.gif" alt="" class="icon"/>
            <span>优惠券</span>
        </div>
        <div class="waitingEvaluate">
            <img src="img/userInfo_receiveAddress.gif" alt="" class="icon"/>
            <span>收货地址</span>
        </div>
        <div class="service">
            <img src="img/userInfo_service.gif" alt="" class="icon"/>
            <span>客服/反馈</span>
        </div>
        <div class="waitingPay">
            <img src="img/userInfo_relateUs.gif" alt="" class="icon"/>
            <span>关于我们</span>
        </div>
        <div class="waitingReceive">
            <img src="img/userInfo_share.gif" alt="" class="icon"/>
            <span>分享给朋友</span>
        </div>
    </div>

    <a class="exit" href="##">
        退出当前账号
    </a>
</div>