<div class="shopping_cart">
    <p class="shopping_cart_title">
        购物车
    </p>
    <p class="shopping_cart_location">
        <a href="">鲜蜂侠需要您的精确坐标</a>
    </p>
    <div class="fast_shop">
        <p class="fast_shop_name">
            <span class="line"></span>
            <span>闪送超市</span>
        </p>
        <p class="fast_shop_intro">
            ¥0起送,22:00前满¥30减免运费,22:00后满¥69减免运费
        </p>
    </div>
    <p class="take_goods_time">
        <span>收货时间</span>
        <span class="service_time">一小时送达</span>
        <span class="able_book">可预订></span>
    </p>
    <p class="take_goods_remark">
        <span class="title">收货备注</span>
        <input type="text" placeholder="可输出100字以内特殊要求内容">
    </p>
    <div class="goods_detail">
        <div class="icon_correct"></div>
        <div class="goods_photo"></div>
        <div class="detail_info">
            <div>
                维他柠檬茶饮料
            </div>
            <div>
                <span class="every_price">¥2.6</span>
                <div>
                    <span class="reduce"></span>
                    <span class="pur_num">1</span>
                    <span class="add"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="total">
        <div>全选</div>
        <div>
            共：
            <span class="price_total">
                    ¥2.9
                </span>
        </div>
        <div class="confirm_pur">
            选好了
        </div>
    </div>
</div>