
<div class="seckill">
    <header>
        <div class="title">
            <img src="img/return_icon.png" alt="" class="return"/>
            <span>疯狂秒杀</span>
            <img src="img/crazy_sale_refresh.png" alt="" class="refresh"/>
        </div>
        <div class="shopcart shopcartNum"></div>
    </header>

    <div class="salingInfo">
        <div class="banner">
            <img src="img/crazy_sale_banner.jpg" alt="" class="bannerImg"/>
        </div>
        <div class="saleTime">
            <ul>
                <li><p class="time">10:00</p>
                    <p class="status">已结束</p>
                    <img src="img/crazy_sale_readyicon.png" alt="" class="icon"/>
                </li>
                <li><p class="time">10:00</p>
                    <p class="status">已结束</p>
                    <img src="img/crazy_sale_readyicon.png" alt="" class="icon"/>

                </li>
                <li><p class="time">10:00</p>
                    <p class="status">已结束</p>
                    <img src="img/crazy_sale_readyicon.png" alt="" class="icon"/>

                </li>
                <li class="processing">
                    <p class="time">10:00</p>
                    <p class="status">正在进行</p>
                    <img src="img/crazy_sale_ingicon.png" alt="" class="icon"/>
                </li>
            </ul>
            <div class="endTime">
                 <div class="endInfo">
                     <p>距离本场结束</p>

                     <p class="countdown">02:01:12</p>
                 </div>
                <a href="#activity_rule" class="activity_Rg">查看活动规则</a>
                 
            </div>
        </div>

        <div class="conductList">

        </div>
    </div>
    <div class="hotSale">
        <span class="title">
            热卖
        </span>
    </div>
    <div class="hotSaleList">
        <div class="conduct">
            <div class="freeOne"><span>买一赠一</span></div>
            <img src="img/hotsale_conduct.jpg" alt=""/>
            <div class="conductInfo">
                <p class="title">爱鲜蜂·翠香猕猴桃</p>
                <p class="instruction">180-210g 2粒/盒</p>
                <p class="price"><span class="curPrice">¥14.9</span> <span class="oldPrice">¥35</span></p>
                <a href="##" class="addConduct"></a>
            </div>
        </div>
        <div class="conduct">

            <img src="img/hotsale_conduct.jpg" alt=""/>
            <div class="conductInfo">
                <p class="title">爱鲜蜂·翠香猕猴桃</p>
                <p class="instruction">180-210g 2粒/盒</p>
                <p class="price"><span class="curPrice">¥14.9</span> <span class="oldPrice">¥35</span></p>
                <a href="##" class="addConduct"></a>
            </div>
        </div>
        <div class="conduct">

            <img src="img/hotsale_conduct.jpg" alt=""/>
            <div class="conductInfo">
                <p class="title">爱鲜蜂·翠香猕猴桃</p>
                <p class="instruction">180-210g 2粒/盒</p>
                <p class="price"><span class="curPrice">¥14.9</span> <span class="oldPrice">¥35</span></p>
                <a href="##" class="supplying">补货中</a>
            </div>
        </div>
        <div class="conduct">
            <div class="freeOne"><span>买一赠一</span></div>
            <img src="img/hotsale_conduct.jpg" alt=""/>
            <div class="conductInfo">
                <p class="title">爱鲜蜂·翠香猕猴桃</p>
                <p class="instruction">180-210g 2粒/盒</p>
                <p class="price"><span class="curPrice">¥14.9</span> <span class="oldPrice">¥35</span></p>
                <a href="##" class="supplying">补货中</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="activityRg">
            <span class="title">
                 活动规则
            </span>
        </div>
        <ul id="activity_rule">
            <li>本次活动购买的实物商品，请先选择送货地址，再进行购买；</li>
            <li>活动动时间：每日10点、12点、15点、19点；</li>
            <li>活动单品每个商品每人每天抢购一次（限配送区域内用户参加）；</li>
            <li>商品数量有限，售完即止。需及时在线支付，请以订单支付成功时间为准；</li>
            <li>此活动可以和其他商品同时购买，订单金额满30元（含）以上可送；</li>
            <li>若发现用户恶意刷单，爱鲜蜂有权拒绝送货。</li>
        </ul>
    </footer>
</div>
